* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: lightblue;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
}

.container {
    /* border: 2px solid red; */
    display: flex;
    justify-content: center; 
    padding: 0;
    align-items: center;
    width: 90vw;
    /* max-width: 930px; */
    background-color: lightblue;
    margin: auto auto;
}

.petImage {
    /* width: 60%;
    height: 500px;
    
    
    margin: 0;
    padding: 0; */
    /* border: 1px solid yellow; */
    
    

  }

  img {
    height: 50vh;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    width: 700px;
  }

.rightSide {
    background-color:lightblue;
    /* padding: 100px 0 100px 0; */
    width: 600px;
    /* border: 2px solid green; */
    margin:0;
    padding: 0 30px;

}

button {
   padding: 5px;
   background-color: lightblue;
   color: navy;
   margin: 10px 0px;
}
.text {
    background-color: lightblue;
    padding: 5px;
    margin: 10px 0px;
}
#petAge {
    background-color: lightblue;
}

.intro {
    padding: 10px;
    margin-left: 20px;
}
#title {
    font-size: 50px;
    text-align: center;
}

